# Ambientes virtuais
env/
venv/
ENV/
.venv/
.conda/
*.conda
*.env

# Cache do Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo

# Dados (ajustado para sua pasta 'dados/')
dados/
*.npy
*.npz
*.csv
*.h5
*.hdf5
*.parquet
*.pkl
*.joblib

# Notebooks e checkpoints
.ipynb_checkpoints/
*.ipynb

# Logs e saídas
*.log
*.out
log.txt
src/log.txt

# IDEs
.vscode/
.idea/
*.swp

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
